# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Environment variables
.env

# Node / React
node_modules/
frontend-react/node_modules/

# Build files
dist/
frontend-react/dist/

# VS Code
.vscode/

# Python cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db